
### bundle related files
/vendor/*
/.bundle/*
# Gemfile.lock

### "old" directory
*/old/

### file cache
*.swp
*~
.nfs*

### "old" directory
/old

### my.xxx setting file
/my.*
### pbslog
/pbslog
### test output directory
/test*
/for_test/*.sh
/for_test/test*
/for_test/*/test*

